    .container
    {
        text-align: center;
        background-color: darkgray;
        height: 400px;
    }
    table
    {
        margin:auto;
    }
    input
    {
        font-size: 32px;
    }
    /*button
    {
        height: 50px;
        width: 69px;
        font-size: 25px;
    }*/
    h1
    {
        color:blueviolet;
    }
    #screen
    {
        height:55px;
        width:280px;  
    }
    
.btn
{
    color:red
};    
    
